---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout title="露草世界｜露草おこじょ堂">
  <article class="series">
    <h1>露草世界（仮）</h1>

    <p class="series-description">
      世界観説明テキスト
    </p>

    <nav class="series-nav">
      <ul>
        <li><a href="./illust/">イラスト</a></li>
        <li><a href="./comic/">マンガ</a></li>
        <li><a href="./novel/">小説</a></li>
      </ul>
    </nav>
  </article>
</BaseLayout>
