---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const works = await getCollection("works");

// type が "comic" の作品だけ抽出
const illustWorks = works.filter(w => w.data.type === "comic");
---
<BaseLayout title="Comic｜露草おこじょ堂">
  <h2>Comic</h2>
  <p>マンガの一覧です</p>
  <div class="works-grid">
    {illustWorks.map(work => (
      <article class="card work-card">
        <a href={`/works/${work.slug}/`}>
          <img
            src={work.data.thumbnail || "/images/common/noimage.png"}
            alt={work.data.title}
            loading="lazy"
            decoding="async"
          />
          <h3>{work.data.title}</h3>
          <p class="work-type">{work.data.type}</p>
          <span class="work-series">{work.data.series?.title ?? "単発"}</span>
        </a>
      </article>
    ))}
  </div>
</BaseLayout>
