---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
---

<BaseLayout title="露草世界｜イラスト">
  <h2>イラスト</h2>

  <ul class="work-list">
    <li>
      <a href="/illust/2025-01-01-example/">作品タイトル</a>
    </li>
  </ul>
</BaseLayout>
