---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About｜露草おこじょ堂">
  <h3>About</h3>
　<p>管理人：縹まそら</p>
  <p>日常もの・すこしふしぎなSF・怪異ものが好きで書きます。<br>
  中～長編は物語ごとに分けて制作していますので、どうぞ覗いてみてください。</p>
  <p>ちなみにTOPへは左上のロゴから戻れます。</p>

  <h3 class="divider">リンク・連絡先について</h3>
  <p>
  外部の投稿先・SNSや連絡先については、 <a href="/links/">Links</a> ページにまとめています。
  <br>
  何かあれば、そちらからご確認ください。
  </p>
  
  <h3 class="divider">注意事項</h3>
  <p>
  ・本サイトに登場する人物・団体・出来事はすべてフィクションです。
  <br>
    実在の人物・組織・事件等とは一切関係ありません。
  <br>
  ・本サイトに掲載されているコンテンツの無断転載は禁止しております。
  <br>
  また、コンテンツのAI学習への利用も併せて全面禁止しております。
  </p>
</BaseLayout>