---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
	title="トップ｜露草おこじょ堂"
 	indexable={true}
>

<section class="hero">
  <img
    src="/images/top/hero.jpg"
    alt="露草おこじょ堂"
  />
</section>

<section class="welcome">
  <h2>露草おこじょ堂</h2>
  <p class="tagline">
  	創作物（オリジナル）を載せている個人サイトです<br>
    イラスト・マンガ・小説などを掲載しています
  </p>
</section>

<section class="top-stories">
    <h2>Stories</h2>
    <p>
      すこし不思議な物語をお読みいただけます
    </p>
    <p>
    <ul class="work-links">  
      <li><a href="/stories/">More……</a></li>
    </ul>
    </p>
  </section>

<section class="top-works">
    <h2>Works</h2>
	<p>単発もの含めてカテゴリ別に閲覧いただけます</p>
    <ul class="work-links">
      <li><a href="/illust/">Illust</a></li>
      <li><a href="/comic/">Comic</a></li>
      <li><a href="/novel/">Novel</a></li>
    </ul>
  <p>全作品一覧はこちら</p>
    <ul class="work-links">  
      <li><a href="/works/">Works</a></li>
    </ul>
  </section>

<section class="news">
  <h2>News</h2>
  <ul>
      <li>
      <time datetime="2026-01-05">2026-01-05</time>
      <a href="/news/2026-01-05/">サイトを公開しました</a>
    </li>
  </ul>
  <p><a href="/news/">⇒ 過去のお知らせ</a></p>
</section>
  
</BaseLayout>
