---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="サイト公開のお知らせ｜露草おこじょ堂">
  <article class="news-article">
    <h2>サイト公開のお知らせ</h2>

    <time datetime="2026-01-05">2026-01-05</time>

    <p>
      露草おこじょ堂のサイトを公開しました。
      <br>
      <br>
      できたてほやほやのサイトのため、中身はほぼゼロ（イラスト1、小説1）ですが、
      <br>
      創作物をこれからいっぱい陳列していく予定です。
      <br>
      これからよろしくお願いいたします。
    </p>
  </article>
</BaseLayout>
