---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="News｜露草おこじょ堂">
  <h2>News</h2>

  <ul class="news-list">
  <!--
    <li>
      <time datetime="2025-01-01">2025.01.01</time>
      <a href="/news/yyyy-mm-dd/">サイトを公開しました</a>
    </li>
  </ul>
  -->
</BaseLayout>
