---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Stories｜露草おこじょ堂">
  <h2>Stories</h2>

  <article class="card ">
    <a href="/stories/maison-flora/">
      <h3>フローラ荘今日も好天</h3>
      <p class="story-desc">
        お屋敷の中は植物園<br>
        今日も自由な植物たちは、あっちこっちを駆けずり回る
      </p>
      <p class="story-meta">
        Illust / Comic 
      </p>
    </a>
  </article>

<!--
  <article class="card story-card">
  <a href="/stories/story1/">
    <h3>シリーズ名</h3>
    <p class="story-desc">
      世界観やあらすじを一言で
    </p>
    <p class="story-meta">
      Illust / Comic / Novel
    </p>
  </a>
</article>
-->

</BaseLayout>
