---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="作品一覧｜露草おこじょ堂">
  <h2>掲載作品一覧</h2>

  <ul class="series-list">
    <li>
      <a href="/stories/series1/">〇〇〇（仮）</a>
    </li>
  </ul>
</BaseLayout>
