---
import BaseLayout from "@/layouts/BaseLayout.astro";
import WorkDetail from "@/components/WorkDetail.astro";
---

<BaseLayout title="作品タイトル">
  <WorkDetail
    title="作品タイトル"
    type="Illust"
    series="ない場合はnull"
    published="yyyy-mm-dd"
  >
    <img src="/images/works/example.jpg" alt="">
    <!--マンガの場合-->
    <div class="comic-pages">
    <img src="/images/works/comic-example/001.jpg" alt="">
    <img src="/images/works/comic-example/002.jpg" alt="">
    </div>

  </WorkDetail>
</BaseLayout>
