---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Novel｜露草おこじょ堂">
  <h2>Novel</h2>
  <p>小説の一覧です。</p>

  <div class="works-grid">
    <!-- 作品カードをここに追加 -->
    <article class="card work-card"> 
        <a href="/works/oneshot/trillium/">
            <img src="" alt="">
            <h3>知らねば見分けることも難しい</h3>
            <p class="work-type">Novel</p>
            <span class="work-series">単発</span>
        </a>
    </article>

</BaseLayout>
