---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import "@/styles/series.css";
---

<BaseLayout title="フローラ荘今日も好天｜露草おこじょ堂">
  <article class="series">
    <section class="welcome">
      <h2>フローラ荘今日も好天</h2>
      <h3>あらすじ</h3>
       <p class="series-description">
        地球の中の小さな島国の小さな町。<br>
        その外れには、植物のエッセンスから錬成された存在【フローラ】が集まる屋敷があった。<br>
        その名は【フローラ荘】。今日もそこでは住人たちがどんちゃん騒ぎ――。<br>
        多種多様なフローラが織りなすのんびり時々愉快な毎日を送る植物擬人化ストーリー！
      </p>
    </section>

    <nav class="series-nav">
      <ul>
        <!--<li><a href="./comic/">本編</a></li>-->
        <li><a href="./illust/">イラスト集</a></li>
      </ul>
    </nav>
  </article>
</BaseLayout>
