---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Links｜露草おこじょ堂">
  <h2>Links</h2>

  <ul class="links-list">
    <li>
      <a href="https://note.com/msr_4cb8e7" target="_blank" rel="noopener noreferrer">
        note
      </a>
    </li>
  </ul>
</BaseLayout>
