---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Links｜露草おこじょ堂">
  <h2>Links</h2>
  <ul class="links-list">
    <li>
      <a href="https://note.com/msr_4cb8e7" target="_blank" rel="noopener noreferrer">
        note
      </a>
    </li>
    <li>
      <a href="https://tales.note.com/msr_4cb8e7" target="_blank" rel="noopener noreferrer">
        TALES
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/@masora_4cb8e7" target="_blank" rel="noopener noreferrer">
        Youtube
      </a>
    </li>
  </ul>

  <h2>Contact／Request</h2>
  <ul class="links-list">
    <li>
      <a href="https://wavebox.me/wave/7aad07anm2wizcru/" target="_blank" rel="noopener noreferrer">
        wavebox
      </a>
    </li>
  </ul>

  <h2>Search</h2>
  <ul class="links-list">
    <li>
      <a href="https://compslink.jp/" target="_blank" rel="noopener noreferrer">
        COMPASS LINK
      </a>
    </li>
    <li>
      <a href="https://tters.jp/s" target="_blank" rel="noopener noreferrer">
        創作サーチ by 拝啓インターネット
      </a>
    </li>
  </ul>
</BaseLayout>
