--- 
import BaseLayout from "../../layouts/BaseLayout.astro";
import "@/styles/links.css"
---

<BaseLayout title="Links｜露草おこじょ堂">
  <h2>Links</h2>
  <ul class="links-list">
    <li>
      <a href="https://note.com/msr_4cb8e7" target="_blank" rel="noopener noreferrer">
        note
        <span class="link-note">日記であったり、備忘録だったりを雑多に書いてます</span>
      </a>
    </li>
    <li>
      <a href="https://tales.note.com/msr_4cb8e7" target="_blank" rel="noopener noreferrer">
        TALES
        <span class="link-note">ここに載せている小説の一部を公開してます</span>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/@masora_4cb8e7" target="_blank" rel="noopener noreferrer">
        Youtube
        <span class="link-note">動画をつくったら載せる用につくってだけあります</span>
      </a>
    </li>
  </ul>

  <h2>Contact／Request</h2>
  <ul class="links-list">
    <li>
      <a href="https://wavebox.me/wave/7aad07anm2wizcru/" target="_blank" rel="noopener noreferrer">
        wavebox
        <span class="link-note">作品への感想などあればこちらから！ ありがたく読みます</span>
      </a>
    </li>
    <!--
    <li>
      <a href="https://wavebox.me/wave/7aad07anm2wizcru/" target="_blank" rel="noopener noreferrer">
        wavebox
        <span class="link-note">作品への感想などあればこちらから！ ありがたく読みます</span>
      </a>
    </li>
    -->
  </ul>

  <h2>Search</h2>
  <p>お世話になっているサーチサイト様です。本当にありがとうございます。</p>
  <ul class="links-list">
    <li>
      <a href="https://compslink.jp/" target="_blank" rel="noopener noreferrer">
        COMPASS LINK
      </a>
    </li>
    <li>
      <a href="https://tters.jp/s" target="_blank" rel="noopener noreferrer">
        創作サーチ by 拝啓インターネット
      </a>
    </li>
  </ul>
</BaseLayout>
